@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chopping Blogs</h1>
    <p>If you want to contribute to this open-source project, request access to contribute <a href="https://github.com/CowboyDevOps/asp.net-starter-blog/tree/main/docs">here</a>.</p>
</div>
